[Unit]
Description=xremap

[Service]
Type=oneshot
KillMode=process
ExecStart=/usr/bin/xremap /home/manisk/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
