
.theme-dark {
	--accent-h:calc(44.23728915076425/255*360);
	--accent-s:calc(65.88235348463058/255*100%);
	--accent-l:calc(67.81609335968149/255*100%);

  --text-normal:#eae1d4;
  --text-muted:#cfc5b4;
  --text-faint:#989080;

  --background-primary:#16130b; /* editor and right ribbon */
  --background-secondary:#16130b; /* left ribbon */ 
  --background-modifier-hover:#50462a;
  --background-modifier-active-hover:#d5c5a1;
  --background-modifier-message:#16130b;
  --background-modifier-form-field:#584400;

  --ribbon-background:#16130b;
  --divider-color:#50462a;
  --scrollbar-thumb-bg:#f2e1bb;
  --status-bar-border-color:#50462a;
  --status-bar-background:#16130b;
  --titlebar-background:#16130b;
  --titlebar-text-color:#eae1d4;

  --nav-item-color:#cfc5b4;
  --nav-item-color-active:#ffe08b;
  --nav-item-background-active:#584400;
  --nav-item-color-hover:#f2e1bb;
  --nav-item-background-hover:#50462a;

  --tab-background-active:#584400;
  --tab-text-color-active:#ffe08b;
  --tab-text-color:#cfc5b4;

  --icon-color:#eae1d4;

  --h1-color:#e3c46d;
  --h2-color: color-mix(in srgb, #e3c46d, #adcfae);
  --h3-color:#adcfae;
  --h4-color: color-mix(in srgb, #e3c46d, #d5c5a1);
  --h5-color:#d5c5a1;
  --h6-color: color-mix(in srgb, #adcfae, #d5c5a1);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#eae1d4;
  background:#16130b;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#eae1d4;
  background:#16130b;
}

.theme-dark .workspace-tab-header-container{
  background:#16130b;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(46.60194261254666/255*360);
	--accent-s:calc(24.901960976421833/255*100%);
	--accent-l:calc(81.10236198091597/255*100%);

  --text-normal:#1f1b13;
  --text-muted:#4c4639;
  --text-faint:#7e7667;

  --background-primary:#fff8f1; /* editor and right ribbon */
  --background-secondary:#e1d9cc; /* left ribbon */ 
  --background-modifier-hover:#f2e1bb;
  --background-modifier-active-hover:#695d3f;
  --background-modifier-message:#e1d9cc;
  --background-modifier-form-field:#ffe08b;

  --ribbon-background:#fff8f1;
  --divider-color:#f2e1bb;
  --scrollbar-thumb-bg:#231b04;
  --status-bar-border-color:#f2e1bb;
  --status-bar-background:#fff8f1;
  --titlebar-background:#fff8f1;
  --titlebar-text-color:#1f1b13;

  --nav-item-color:#4c4639;
  --nav-item-color-active:#241a00;
  --nav-item-background-active:#ffe08b;
  --nav-item-color-hover:#231b04;
  --nav-item-background-hover:#f2e1bb;

  --tab-background-active:#ffe08b;
  --tab-text-color-active:#241a00;
  --tab-text-color:#4c4639;

  --icon-color:#1f1b13;

  --h1-color:#735c0c;
  --h2-color: color-mix(in srgb, #735c0c, #47664a);
  --h3-color:#47664a;
  --h4-color: color-mix(in srgb, #735c0c, #695d3f);
  --h5-color:#695d3f;
  --h6-color: color-mix(in srgb, #47664a, #695d3f);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#1f1b13;
  background:#fff8f1;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#1f1b13;
  background:#fff8f1;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f1;
}
