
.theme-dark {
	--accent-h:calc(127.24137931034483/255*360);
	--accent-s:calc(71.76470756530762/255*100%);
	--accent-l:calc(40.27777777777778/255*100%);

  --text-normal:#dfe4dc;
  --text-muted:#c1c9be;
  --text-faint:#8b9389;

  --background-primary:#101510; /* editor and right ribbon */
  --background-secondary:#101510; /* left ribbon */ 
  --background-modifier-hover:#394b3b;
  --background-modifier-active-hover:#b7ccb6;
  --background-modifier-message:#101510;
  --background-modifier-form-field:#1a512a;

  --ribbon-background:#101510;
  --divider-color:#394b3b;
  --scrollbar-thumb-bg:#d3e8d2;
  --status-bar-border-color:#394b3b;
  --status-bar-background:#101510;
  --titlebar-background:#101510;
  --titlebar-text-color:#dfe4dc;

  --nav-item-color:#c1c9be;
  --nav-item-color-active:#b5f1bc;
  --nav-item-background-active:#1a512a;
  --nav-item-color-hover:#d3e8d2;
  --nav-item-background-hover:#394b3b;

  --tab-background-active:#1a512a;
  --tab-text-color-active:#b5f1bc;
  --tab-text-color:#c1c9be;

  --icon-color:#dfe4dc;

  --h1-color:#9ad4a1;
  --h2-color: color-mix(in srgb, #9ad4a1, #a1ced8);
  --h3-color:#a1ced8;
  --h4-color: color-mix(in srgb, #9ad4a1, #b7ccb6);
  --h5-color:#b7ccb6;
  --h6-color: color-mix(in srgb, #a1ced8, #b7ccb6);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dfe4dc;
  background:#101510;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dfe4dc;
  background:#101510;
}

.theme-dark .workspace-tab-header-container{
  background:#101510;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(134.4444476500337/255*360);
	--accent-s:calc(30.588235706090927/255*100%);
	--accent-l:calc(34.61538452170128/255*100%);

  --text-normal:#181d18;
  --text-muted:#414941;
  --text-faint:#727970;

  --background-primary:#f6fbf2; /* editor and right ribbon */
  --background-secondary:#d7dbd3; /* left ribbon */ 
  --background-modifier-hover:#d3e8d2;
  --background-modifier-active-hover:#506351;
  --background-modifier-message:#d7dbd3;
  --background-modifier-form-field:#b5f1bc;

  --ribbon-background:#f6fbf2;
  --divider-color:#d3e8d2;
  --scrollbar-thumb-bg:#0e1f11;
  --status-bar-border-color:#d3e8d2;
  --status-bar-background:#f6fbf2;
  --titlebar-background:#f6fbf2;
  --titlebar-text-color:#181d18;

  --nav-item-color:#414941;
  --nav-item-color-active:#00210a;
  --nav-item-background-active:#b5f1bc;
  --nav-item-color-hover:#0e1f11;
  --nav-item-background-hover:#d3e8d2;

  --tab-background-active:#b5f1bc;
  --tab-text-color-active:#00210a;
  --tab-text-color:#414941;

  --icon-color:#181d18;

  --h1-color:#336940;
  --h2-color: color-mix(in srgb, #336940, #39656d);
  --h3-color:#39656d;
  --h4-color: color-mix(in srgb, #336940, #506351);
  --h5-color:#506351;
  --h6-color: color-mix(in srgb, #39656d, #506351);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#181d18;
  background:#f6fbf2;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#181d18;
  background:#f6fbf2;
}

.theme-light .workspace-tab-header-container{
  background:#f6fbf2;
}
