
.theme-dark {
	--accent-h:calc(150.83333333333334/255*360);
	--accent-s:calc(69.41176652908325/255*100%);
	--accent-l:calc(46.15384615384615/255*100%);

  --text-normal:#dee4de;
  --text-muted:#bfc9c1;
  --text-faint:#8a938c;

  --background-primary:#0f1511; /* editor and right ribbon */
  --background-secondary:#0f1511; /* left ribbon */ 
  --background-modifier-hover:#364b40;
  --background-modifier-active-hover:#b4ccbd;
  --background-modifier-message:#0f1511;
  --background-modifier-form-field:#005138;

  --ribbon-background:#0f1511;
  --divider-color:#364b40;
  --scrollbar-thumb-bg:#cfe9d9;
  --status-bar-border-color:#364b40;
  --status-bar-background:#0f1511;
  --titlebar-background:#0f1511;
  --titlebar-text-color:#dee4de;

  --nav-item-color:#bfc9c1;
  --nav-item-color-active:#a9f2cd;
  --nav-item-background-active:#005138;
  --nav-item-color-hover:#cfe9d9;
  --nav-item-background-hover:#364b40;

  --tab-background-active:#005138;
  --tab-text-color-active:#a9f2cd;
  --tab-text-color:#bfc9c1;

  --icon-color:#dee4de;

  --h1-color:#8dd5b2;
  --h2-color: color-mix(in srgb, #8dd5b2, #a5ccde);
  --h3-color:#a5ccde;
  --h4-color: color-mix(in srgb, #8dd5b2, #b4ccbd);
  --h5-color:#b4ccbd;
  --h6-color: color-mix(in srgb, #a5ccde, #b4ccbd);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dee4de;
  background:#0f1511;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dee4de;
  background:#0f1511;
}

.theme-dark .workspace-tab-header-container{
  background:#0f1511;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(157.2972984630492/255*360);
	--accent-s:calc(27.05882415175438/255*100%);
	--accent-l:calc(53.62318672976861/255*100%);

  --text-normal:#171d19;
  --text-muted:#404943;
  --text-faint:#707973;

  --background-primary:#f5fbf5; /* editor and right ribbon */
  --background-secondary:#d6dbd6; /* left ribbon */ 
  --background-modifier-hover:#cfe9d9;
  --background-modifier-active-hover:#4d6357;
  --background-modifier-message:#d6dbd6;
  --background-modifier-form-field:#a9f2cd;

  --ribbon-background:#f5fbf5;
  --divider-color:#cfe9d9;
  --scrollbar-thumb-bg:#0a1f16;
  --status-bar-border-color:#cfe9d9;
  --status-bar-background:#f5fbf5;
  --titlebar-background:#f5fbf5;
  --titlebar-text-color:#171d19;

  --nav-item-color:#404943;
  --nav-item-color-active:#002114;
  --nav-item-background-active:#a9f2cd;
  --nav-item-color-hover:#0a1f16;
  --nav-item-background-hover:#cfe9d9;

  --tab-background-active:#a9f2cd;
  --tab-text-color-active:#002114;
  --tab-text-color:#404943;

  --icon-color:#171d19;

  --h1-color:#206a4e;
  --h2-color: color-mix(in srgb, #206a4e, #3d6373);
  --h3-color:#3d6373;
  --h4-color: color-mix(in srgb, #206a4e, #4d6357);
  --h5-color:#4d6357;
  --h6-color: color-mix(in srgb, #3d6373, #4d6357);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#171d19;
  background:#f5fbf5;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#171d19;
  background:#f5fbf5;
}

.theme-light .workspace-tab-header-container{
  background:#f5fbf5;
}
