
.theme-dark {
	--accent-h:calc(73.07692307692308/255*360);
	--accent-s:calc(65.49019813537598/255*100%);
	--accent-l:calc(44.31818181818182/255*100%);

  --text-normal:#e4e3d7;
  --text-muted:#c7c8b8;
  --text-faint:#909283;

  --background-primary:#13140d; /* editor and right ribbon */
  --background-secondary:#13140d; /* left ribbon */ 
  --background-modifier-hover:#444930;
  --background-modifier-active-hover:#c4caa9;
  --background-modifier-message:#13140d;
  --background-modifier-form-field:#3e4c0c;

  --ribbon-background:#13140d;
  --divider-color:#444930;
  --scrollbar-thumb-bg:#e0e6c4;
  --status-bar-border-color:#444930;
  --status-bar-background:#13140d;
  --titlebar-background:#13140d;
  --titlebar-text-color:#e4e3d7;

  --nav-item-color:#c7c8b8;
  --nav-item-color-active:#d8eb9a;
  --nav-item-background-active:#3e4c0c;
  --nav-item-color-hover:#e0e6c4;
  --nav-item-background-hover:#444930;

  --tab-background-active:#3e4c0c;
  --tab-text-color-active:#d8eb9a;
  --tab-text-color:#c7c8b8;

  --icon-color:#e4e3d7;

  --h1-color:#bdce80;
  --h2-color: color-mix(in srgb, #bdce80, #a1d0c5);
  --h3-color:#a1d0c5;
  --h4-color: color-mix(in srgb, #bdce80, #c4caa9);
  --h5-color:#c4caa9;
  --h6-color: color-mix(in srgb, #a1d0c5, #c4caa9);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#e4e3d7;
  background:#13140d;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#e4e3d7;
  background:#13140d;
}

.theme-dark .workspace-tab-header-container{
  background:#13140d;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(73.84615303672983/255*360);
	--accent-s:calc(26.470588892698288/255*100%);
	--accent-l:calc(48.1481468971865/255*100%);

  --text-normal:#1b1c15;
  --text-muted:#46483c;
  --text-faint:#77786b;

  --background-primary:#fbfaed; /* editor and right ribbon */
  --background-secondary:#dbdbcf; /* left ribbon */ 
  --background-modifier-hover:#e0e6c4;
  --background-modifier-active-hover:#5b6146;
  --background-modifier-message:#dbdbcf;
  --background-modifier-form-field:#d8eb9a;

  --ribbon-background:#fbfaed;
  --divider-color:#e0e6c4;
  --scrollbar-thumb-bg:#191e08;
  --status-bar-border-color:#e0e6c4;
  --status-bar-background:#fbfaed;
  --titlebar-background:#fbfaed;
  --titlebar-text-color:#1b1c15;

  --nav-item-color:#46483c;
  --nav-item-color-active:#171e00;
  --nav-item-background-active:#d8eb9a;
  --nav-item-color-hover:#191e08;
  --nav-item-background-hover:#e0e6c4;

  --tab-background-active:#d8eb9a;
  --tab-text-color-active:#171e00;
  --tab-text-color:#46483c;

  --icon-color:#1b1c15;

  --h1-color:#556423;
  --h2-color: color-mix(in srgb, #556423, #3a665e);
  --h3-color:#3a665e;
  --h4-color: color-mix(in srgb, #556423, #5b6146);
  --h5-color:#5b6146;
  --h6-color: color-mix(in srgb, #3a665e, #5b6146);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#1b1c15;
  background:#fbfaed;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#1b1c15;
  background:#fbfaed;
}

.theme-light .workspace-tab-header-container{
  background:#fbfaed;
}
