
.theme-dark {
	--accent-h:calc(60.0/255*360);
	--accent-s:calc(78.43137383460999/255*100%);
	--accent-l:calc(81.81818181818183/255*100%);

  --text-normal:#ffffff;
  --text-muted:#ffffff;
  --text-faint:#f4f0de;

  --background-primary:#14140c; /* editor and right ribbon */
  --background-secondary:#14140c; /* left ribbon */ 
  --background-modifier-hover:#c6c4a1;
  --background-modifier-active-hover:#f4f2cc;
  --background-modifier-message:#14140c;
  --background-modifier-form-field:#c7c773;

  --ribbon-background:#14140c;
  --divider-color:#c6c4a1;
  --scrollbar-thumb-bg:#000000;
  --status-bar-border-color:#c6c4a1;
  --status-bar-background:#14140c;
  --titlebar-background:#14140c;
  --titlebar-text-color:#ffffff;

  --nav-item-color:#ffffff;
  --nav-item-color-active:#000000;
  --nav-item-background-active:#c7c773;
  --nav-item-color-hover:#000000;
  --nav-item-background-hover:#c6c4a1;

  --tab-background-active:#c7c773;
  --tab-text-color-active:#000000;
  --tab-text-color:#ffffff;

  --icon-color:#ffffff;

  --h1-color:#f5f59b;
  --h2-color: color-mix(in srgb, #f5f59b, #cdfae6);
  --h3-color:#cdfae6;
  --h4-color: color-mix(in srgb, #f5f59b, #f4f2cc);
  --h5-color:#f4f2cc;
  --h6-color: color-mix(in srgb, #cdfae6, #f4f2cc);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#ffffff;
  background:#14140c;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#ffffff;
  background:#14140c;
}

.theme-dark .workspace-tab-header-container{
  background:#14140c;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(60.0/255*360);
	--accent-s:calc(9.019608050584793/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#000000;
  --text-muted:#000000;
  --text-faint:#2d2d21;

  --background-primary:#fdf9ec; /* editor and right ribbon */
  --background-secondary:#bcb9ad; /* left ribbon */ 
  --background-modifier-hover:#4b4b2f;
  --background-modifier-active-hover:#2d2d15;
  --background-modifier-message:#bcb9ad;
  --background-modifier-form-field:#4c4c01;

  --ribbon-background:#fdf9ec;
  --divider-color:#4b4b2f;
  --scrollbar-thumb-bg:#ffffff;
  --status-bar-border-color:#4b4b2f;
  --status-bar-background:#fdf9ec;
  --titlebar-background:#fdf9ec;
  --titlebar-text-color:#000000;

  --nav-item-color:#000000;
  --nav-item-color-active:#ffffff;
  --nav-item-background-active:#4c4c01;
  --nav-item-color-hover:#ffffff;
  --nav-item-background-hover:#4b4b2f;

  --tab-background-active:#4c4c01;
  --tab-text-color-active:#ffffff;
  --tab-text-color:#000000;

  --icon-color:#000000;

  --h1-color:#2e2e00;
  --h2-color: color-mix(in srgb, #2e2e00, #053326);
  --h3-color:#053326;
  --h4-color: color-mix(in srgb, #2e2e00, #2d2d15);
  --h5-color:#2d2d15;
  --h6-color: color-mix(in srgb, #053326, #2d2d15);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#000000;
  background:#fdf9ec;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#000000;
  background:#fdf9ec;
}

.theme-light .workspace-tab-header-container{
  background:#fdf9ec;
}
