
.theme-dark {
	--accent-h:calc(12.5/255*360);
	--accent-s:calc(95.29411792755127/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#ffffff;
  --text-muted:#ffffff;
  --text-faint:#ffece7;

  --background-primary:#1a110f; /* editor and right ribbon */
  --background-secondary:#1a110f; /* left ribbon */ 
  --background-modifier-hover:#e3b9ae;
  --background-modifier-active-hover:#ffece7;
  --background-modifier-message:#1a110f;
  --background-modifier-form-field:#ffaf98;

  --ribbon-background:#1a110f;
  --divider-color:#e3b9ae;
  --scrollbar-thumb-bg:#000000;
  --status-bar-border-color:#e3b9ae;
  --status-bar-background:#1a110f;
  --titlebar-background:#1a110f;
  --titlebar-text-color:#ffffff;

  --nav-item-color:#ffffff;
  --nav-item-color-active:#000000;
  --nav-item-background-active:#ffaf98;
  --nav-item-color-hover:#000000;
  --nav-item-background-hover:#e3b9ae;

  --tab-background-active:#ffaf98;
  --tab-text-color-active:#000000;
  --tab-text-color:#ffffff;

  --icon-color:#ffffff;

  --h1-color:#ffece7;
  --h2-color: color-mix(in srgb, #ffece7, #ffefc3);
  --h3-color:#ffefc3;
  --h4-color: color-mix(in srgb, #ffece7, #ffece7);
  --h5-color:#ffece7;
  --h6-color: color-mix(in srgb, #ffefc3, #ffece7);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#ffffff;
  background:#1a110f;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#ffffff;
  background:#1a110f;
}

.theme-dark .workspace-tab-header-container{
  background:#1a110f;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(13.913042963480699/255*360);
	--accent-s:calc(17.843137867748737/255*100%);
	--accent-l:calc(75.82417600771868/255*100%);

  --text-normal:#000000;
  --text-muted:#000000;
  --text-faint:#372925;

  --background-primary:#fff8f6; /* editor and right ribbon */
  --background-secondary:#c6b5b1; /* left ribbon */ 
  --background-modifier-hover:#604239;
  --background-modifier-active-hover:#3f261e;
  --background-modifier-message:#c6b5b1;
  --background-modifier-form-field:#753724;

  --ribbon-background:#fff8f6;
  --divider-color:#604239;
  --scrollbar-thumb-bg:#ffffff;
  --status-bar-border-color:#604239;
  --status-bar-background:#fff8f6;
  --titlebar-background:#fff8f6;
  --titlebar-text-color:#000000;

  --nav-item-color:#000000;
  --nav-item-color-active:#ffffff;
  --nav-item-background-active:#753724;
  --nav-item-color-hover:#ffffff;
  --nav-item-background-hover:#604239;

  --tab-background-active:#753724;
  --tab-text-color-active:#ffffff;
  --tab-text-color:#000000;

  --icon-color:#000000;

  --h1-color:#501b0b;
  --h2-color: color-mix(in srgb, #501b0b, #362b02);
  --h3-color:#362b02;
  --h4-color: color-mix(in srgb, #501b0b, #3f261e);
  --h5-color:#3f261e;
  --h6-color: color-mix(in srgb, #362b02, #3f261e);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#000000;
  background:#fff8f6;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#000000;
  background:#fff8f6;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f6;
}
