
.theme-dark {
	--accent-h:calc(43.50000104494392/255*360);
	--accent-s:calc(65.88235348463058/255*100%);
	--accent-l:calc(68.96551859683572/255*100%);

  --text-normal:#eae1d4;
  --text-muted:#cfc5b4;
  --text-faint:#989080;

  --background-primary:#16130b; /* editor and right ribbon */
  --background-secondary:#16130b; /* left ribbon */ 
  --background-modifier-hover:#51462a;
  --background-modifier-active-hover:#d6c5a0;
  --background-modifier-message:#16130b;
  --background-modifier-form-field:#594400;

  --ribbon-background:#16130b;
  --divider-color:#51462a;
  --scrollbar-thumb-bg:#f2e1bb;
  --status-bar-border-color:#51462a;
  --status-bar-background:#16130b;
  --titlebar-background:#16130b;
  --titlebar-text-color:#eae1d4;

  --nav-item-color:#cfc5b4;
  --nav-item-color-active:#ffdf91;
  --nav-item-background-active:#594400;
  --nav-item-color-hover:#f2e1bb;
  --nav-item-background-hover:#51462a;

  --tab-background-active:#594400;
  --tab-text-color-active:#ffdf91;
  --tab-text-color:#cfc5b4;

  --icon-color:#eae1d4;

  --h1-color:#e4c36c;
  --h2-color: color-mix(in srgb, #e4c36c, #aecfad);
  --h3-color:#aecfad;
  --h4-color: color-mix(in srgb, #e4c36c, #d6c5a0);
  --h5-color:#d6c5a0;
  --h6-color: color-mix(in srgb, #aecfad, #d6c5a0);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#eae1d4;
  background:#16130b;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#eae1d4;
  background:#16130b;
}

.theme-dark .workspace-tab-header-container{
  background:#16130b;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(45.57692399911841/255*360);
	--accent-s:calc(25.098039396107197/255*100%);
	--accent-l:calc(81.24999976807885/255*100%);

  --text-normal:#1f1b13;
  --text-muted:#4c4639;
  --text-faint:#7e7667;

  --background-primary:#fff8f1; /* editor and right ribbon */
  --background-secondary:#e1d9cc; /* left ribbon */ 
  --background-modifier-hover:#f2e1bb;
  --background-modifier-active-hover:#6a5d3f;
  --background-modifier-message:#e1d9cc;
  --background-modifier-form-field:#ffdf91;

  --ribbon-background:#fff8f1;
  --divider-color:#f2e1bb;
  --scrollbar-thumb-bg:#231b04;
  --status-bar-border-color:#f2e1bb;
  --status-bar-background:#fff8f1;
  --titlebar-background:#fff8f1;
  --titlebar-text-color:#1f1b13;

  --nav-item-color:#4c4639;
  --nav-item-color-active:#241a00;
  --nav-item-background-active:#ffdf91;
  --nav-item-color-hover:#231b04;
  --nav-item-background-hover:#f2e1bb;

  --tab-background-active:#ffdf91;
  --tab-text-color-active:#241a00;
  --tab-text-color:#4c4639;

  --icon-color:#1f1b13;

  --h1-color:#745b0c;
  --h2-color: color-mix(in srgb, #745b0c, #486649);
  --h3-color:#486649;
  --h4-color: color-mix(in srgb, #745b0c, #6a5d3f);
  --h5-color:#6a5d3f;
  --h6-color: color-mix(in srgb, #486649, #6a5d3f);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#1f1b13;
  background:#fff8f1;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#1f1b13;
  background:#fff8f1;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f1;
}
