
.theme-dark {
	--accent-h:calc(207.85714285714286/255*360);
	--accent-s:calc(94.50980424880981/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#ffffff;
  --text-muted:#ffffff;
  --text-faint:#eaf1f7;

  --background-primary:#101417; /* editor and right ribbon */
  --background-secondary:#101417; /* left ribbon */ 
  --background-modifier-hover:#b2c5d4;
  --background-modifier-active-hover:#e3f2ff;
  --background-modifier-message:#101417;
  --background-modifier-form-field:#8fcaf2;

  --ribbon-background:#101417;
  --divider-color:#b2c5d4;
  --scrollbar-thumb-bg:#000000;
  --status-bar-border-color:#b2c5d4;
  --status-bar-background:#101417;
  --titlebar-background:#101417;
  --titlebar-text-color:#ffffff;

  --nav-item-color:#ffffff;
  --nav-item-color-active:#000000;
  --nav-item-background-active:#8fcaf2;
  --nav-item-color-hover:#000000;
  --nav-item-background-hover:#b2c5d4;

  --tab-background-active:#8fcaf2;
  --tab-text-color-active:#000000;
  --tab-text-color:#ffffff;

  --icon-color:#ffffff;

  --h1-color:#e3f2ff;
  --h2-color: color-mix(in srgb, #e3f2ff, #f5edff);
  --h3-color:#f5edff;
  --h4-color: color-mix(in srgb, #e3f2ff, #e3f2ff);
  --h5-color:#e3f2ff;
  --h6-color: color-mix(in srgb, #f5edff, #e3f2ff);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#ffffff;
  background:#101417;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#ffffff;
  background:#101417;
}

.theme-dark .workspace-tab-header-container{
  background:#101417;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(198.8571440668738/255*360);
	--accent-s:calc(13.725490868091583/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#000000;
  --text-muted:#000000;
  --text-faint:#262d32;

  --background-primary:#f6fafe; /* editor and right ribbon */
  --background-secondary:#b5b9be; /* left ribbon */ 
  --background-modifier-hover:#3a4b58;
  --background-modifier-active-hover:#1c2e3a;
  --background-modifier-message:#b5b9be;
  --background-modifier-form-field:#004e6f;

  --ribbon-background:#f6fafe;
  --divider-color:#3a4b58;
  --scrollbar-thumb-bg:#ffffff;
  --status-bar-border-color:#3a4b58;
  --status-bar-background:#f6fafe;
  --titlebar-background:#f6fafe;
  --titlebar-text-color:#000000;

  --nav-item-color:#000000;
  --nav-item-color-active:#ffffff;
  --nav-item-background-active:#004e6f;
  --nav-item-color-hover:#ffffff;
  --nav-item-background-hover:#3a4b58;

  --tab-background-active:#004e6f;
  --tab-text-color-active:#ffffff;
  --tab-text-color:#000000;

  --icon-color:#000000;

  --h1-color:#003046;
  --h2-color: color-mix(in srgb, #003046, #2f2747);
  --h3-color:#2f2747;
  --h4-color: color-mix(in srgb, #003046, #1c2e3a);
  --h5-color:#1c2e3a;
  --h6-color: color-mix(in srgb, #2f2747, #1c2e3a);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#000000;
  background:#f6fafe;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#000000;
  background:#f6fafe;
}

.theme-light .workspace-tab-header-container{
  background:#f6fafe;
}
