
.theme-dark {
	--accent-h:calc(168.29268292682926/255*360);
	--accent-s:calc(67.45098233222961/255*100%);
	--accent-l:calc(49.39759036144578/255*100%);

  --text-normal:#dee4e1;
  --text-muted:#bec9c5;
  --text-faint:#899390;

  --background-primary:#0e1513; /* editor and right ribbon */
  --background-secondary:#0e1513; /* left ribbon */ 
  --background-modifier-hover:#334b46;
  --background-modifier-active-hover:#b1ccc5;
  --background-modifier-message:#0e1513;
  --background-modifier-form-field:#005046;

  --ribbon-background:#0e1513;
  --divider-color:#334b46;
  --scrollbar-thumb-bg:#cde8e1;
  --status-bar-border-color:#334b46;
  --status-bar-background:#0e1513;
  --titlebar-background:#0e1513;
  --titlebar-text-color:#dee4e1;

  --nav-item-color:#bec9c5;
  --nav-item-color-active:#9ff2e1;
  --nav-item-background-active:#005046;
  --nav-item-color-hover:#cde8e1;
  --nav-item-background-hover:#334b46;

  --tab-background-active:#005046;
  --tab-text-color-active:#9ff2e1;
  --tab-text-color:#bec9c5;

  --icon-color:#dee4e1;

  --h1-color:#83d5c5;
  --h2-color: color-mix(in srgb, #83d5c5, #accae5);
  --h3-color:#accae5;
  --h4-color: color-mix(in srgb, #83d5c5, #b1ccc5);
  --h5-color:#b1ccc5;
  --h6-color: color-mix(in srgb, #accae5, #b1ccc5);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dee4e1;
  background:#0e1513;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dee4e1;
  background:#0e1513;
}

.theme-dark .workspace-tab-header-container{
  background:#0e1513;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(172.0754722573792/255*360);
	--accent-s:calc(21.17647083941847/255*100%);
	--accent-l:calc(98.14814806059712/255*100%);

  --text-normal:#171d1b;
  --text-muted:#3f4946;
  --text-faint:#6f7976;

  --background-primary:#f4fbf8; /* editor and right ribbon */
  --background-secondary:#d5dbd8; /* left ribbon */ 
  --background-modifier-hover:#cde8e1;
  --background-modifier-active-hover:#4a635e;
  --background-modifier-message:#d5dbd8;
  --background-modifier-form-field:#9ff2e1;

  --ribbon-background:#f4fbf8;
  --divider-color:#cde8e1;
  --scrollbar-thumb-bg:#06201b;
  --status-bar-border-color:#cde8e1;
  --status-bar-background:#f4fbf8;
  --titlebar-background:#f4fbf8;
  --titlebar-text-color:#171d1b;

  --nav-item-color:#3f4946;
  --nav-item-color-active:#00201b;
  --nav-item-background-active:#9ff2e1;
  --nav-item-color-hover:#06201b;
  --nav-item-background-hover:#cde8e1;

  --tab-background-active:#9ff2e1;
  --tab-text-color-active:#00201b;
  --tab-text-color:#3f4946;

  --icon-color:#171d1b;

  --h1-color:#016b5d;
  --h2-color: color-mix(in srgb, #016b5d, #446279);
  --h3-color:#446279;
  --h4-color: color-mix(in srgb, #016b5d, #4a635e);
  --h5-color:#4a635e;
  --h6-color: color-mix(in srgb, #446279, #4a635e);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#171d1b;
  background:#f4fbf8;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#171d1b;
  background:#f4fbf8;
}

.theme-light .workspace-tab-header-container{
  background:#f4fbf8;
}
