
.theme-dark {
	--accent-h:calc(352.987012987013/255*360);
	--accent-s:calc(84.90196168422699/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#f0dedf;
  --text-muted:#d7c1c3;
  --text-faint:#9f8c8e;

  --background-primary:#1a1112; /* editor and right ribbon */
  --background-secondary:#1a1112; /* left ribbon */ 
  --background-modifier-hover:#5c3f42;
  --background-modifier-active-hover:#e5bdc0;
  --background-modifier-message:#1a1112;
  --background-modifier-form-field:#72333d;

  --ribbon-background:#1a1112;
  --divider-color:#5c3f42;
  --scrollbar-thumb-bg:#ffd9dd;
  --status-bar-border-color:#5c3f42;
  --status-bar-background:#1a1112;
  --titlebar-background:#1a1112;
  --titlebar-text-color:#f0dedf;

  --nav-item-color:#d7c1c3;
  --nav-item-color-active:#ffd9dd;
  --nav-item-background-active:#72333d;
  --nav-item-color-hover:#ffd9dd;
  --nav-item-background-hover:#5c3f42;

  --tab-background-active:#72333d;
  --tab-text-color-active:#ffd9dd;
  --tab-text-color:#d7c1c3;

  --icon-color:#f0dedf;

  --h1-color:#ffb2bb;
  --h2-color: color-mix(in srgb, #ffb2bb, #e9bf8f);
  --h3-color:#e9bf8f;
  --h4-color: color-mix(in srgb, #ffb2bb, #e5bdc0);
  --h5-color:#e5bdc0;
  --h6-color: color-mix(in srgb, #e9bf8f, #e5bdc0);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#f0dedf;
  background:#1a1112;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#f0dedf;
  background:#1a1112;
}

.theme-dark .workspace-tab-header-container{
  background:#1a1112;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(350.43478366219927/255*360);
	--accent-s:calc(42.15686470270157/255*100%);
	--accent-l:calc(32.093023387337446/255*100%);

  --text-normal:#22191a;
  --text-muted:#524344;
  --text-faint:#847374;

  --background-primary:#fff8f7; /* editor and right ribbon */
  --background-secondary:#e7d6d7; /* left ribbon */ 
  --background-modifier-hover:#ffd9dd;
  --background-modifier-active-hover:#76565a;
  --background-modifier-message:#e7d6d7;
  --background-modifier-form-field:#ffd9dd;

  --ribbon-background:#fff8f7;
  --divider-color:#ffd9dd;
  --scrollbar-thumb-bg:#2c1518;
  --status-bar-border-color:#ffd9dd;
  --status-bar-background:#fff8f7;
  --titlebar-background:#fff8f7;
  --titlebar-text-color:#22191a;

  --nav-item-color:#524344;
  --nav-item-color-active:#3b0714;
  --nav-item-background-active:#ffd9dd;
  --nav-item-color-hover:#2c1518;
  --nav-item-background-hover:#ffd9dd;

  --tab-background-active:#ffd9dd;
  --tab-text-color-active:#3b0714;
  --tab-text-color:#524344;

  --icon-color:#22191a;

  --h1-color:#8e4954;
  --h2-color: color-mix(in srgb, #8e4954, #785831);
  --h3-color:#785831;
  --h4-color: color-mix(in srgb, #8e4954, #76565a);
  --h5-color:#76565a;
  --h6-color: color-mix(in srgb, #785831, #76565a);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#22191a;
  background:#fff8f7;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#22191a;
  background:#fff8f7;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f7;
}
