
.theme-dark {
	--accent-h:calc(19.816513761467892/255*360);
	--accent-s:calc(78.62745225429535/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#f0dfd8;
  --text-muted:#d7c2b9;
  --text-faint:#a08d85;

  --background-primary:#1a120e; /* editor and right ribbon */
  --background-secondary:#1a120e; /* left ribbon */ 
  --background-modifier-hover:#5c4033;
  --background-modifier-active-hover:#e6beac;
  --background-modifier-message:#1a120e;
  --background-modifier-form-field:#703717;

  --ribbon-background:#1a120e;
  --divider-color:#5c4033;
  --scrollbar-thumb-bg:#ffdbcb;
  --status-bar-border-color:#5c4033;
  --status-bar-background:#1a120e;
  --titlebar-background:#1a120e;
  --titlebar-text-color:#f0dfd8;

  --nav-item-color:#d7c2b9;
  --nav-item-color-active:#ffdbcb;
  --nav-item-background-active:#703717;
  --nav-item-color-hover:#ffdbcb;
  --nav-item-background-hover:#5c4033;

  --tab-background-active:#703717;
  --tab-text-color-active:#ffdbcb;
  --tab-text-color:#d7c2b9;

  --icon-color:#f0dfd8;

  --h1-color:#ffb692;
  --h2-color: color-mix(in srgb, #ffb692, #d0c890);
  --h3-color:#d0c890;
  --h4-color: color-mix(in srgb, #ffb692, #e6beac);
  --h5-color:#e6beac;
  --h6-color: color-mix(in srgb, #d0c890, #e6beac);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#f0dfd8;
  background:#1a120e;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#f0dfd8;
  background:#1a120e;
}

.theme-dark .workspace-tab-header-container{
  background:#1a120e;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(21.030927713897466/255*360);
	--accent-s:calc(36.274511367082596/255*100%);
	--accent-l:calc(52.43243320960034/255*100%);

  --text-normal:#221a16;
  --text-muted:#52443d;
  --text-faint:#85736c;

  --background-primary:#fff8f6; /* editor and right ribbon */
  --background-secondary:#e8d7d0; /* left ribbon */ 
  --background-modifier-hover:#ffdbcb;
  --background-modifier-active-hover:#765849;
  --background-modifier-message:#e8d7d0;
  --background-modifier-form-field:#ffdbcb;

  --ribbon-background:#fff8f6;
  --divider-color:#ffdbcb;
  --scrollbar-thumb-bg:#2c160b;
  --status-bar-border-color:#ffdbcb;
  --status-bar-background:#fff8f6;
  --titlebar-background:#fff8f6;
  --titlebar-text-color:#221a16;

  --nav-item-color:#52443d;
  --nav-item-color-active:#341000;
  --nav-item-background-active:#ffdbcb;
  --nav-item-color-hover:#2c160b;
  --nav-item-background-hover:#ffdbcb;

  --tab-background-active:#ffdbcb;
  --tab-text-color-active:#341000;
  --tab-text-color:#52443d;

  --icon-color:#221a16;

  --h1-color:#8d4e2c;
  --h2-color: color-mix(in srgb, #8d4e2c, #655f31);
  --h3-color:#655f31;
  --h4-color: color-mix(in srgb, #8d4e2c, #765849);
  --h5-color:#765849;
  --h6-color: color-mix(in srgb, #655f31, #765849);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#221a16;
  background:#fff8f6;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#221a16;
  background:#fff8f6;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f6;
}
