
.theme-dark {
	--accent-h:calc(42.29508307008325/255*360);
	--accent-s:calc(66.27451032400131/255*100%);
	--accent-l:calc(70.93023384254873/255*100%);

  --text-normal:#eae1d4;
  --text-muted:#d0c5b4;
  --text-faint:#999080;

  --background-primary:#17130b; /* editor and right ribbon */
  --background-secondary:#17130b; /* left ribbon */ 
  --background-modifier-hover:#51452a;
  --background-modifier-active-hover:#d6c5a0;
  --background-modifier-message:#17130b;
  --background-modifier-form-field:#5a4400;

  --ribbon-background:#17130b;
  --divider-color:#51452a;
  --scrollbar-thumb-bg:#f3e1bb;
  --status-bar-border-color:#51452a;
  --status-bar-background:#17130b;
  --titlebar-background:#17130b;
  --titlebar-text-color:#eae1d4;

  --nav-item-color:#d0c5b4;
  --nav-item-color-active:#ffdf97;
  --nav-item-background-active:#5a4400;
  --nav-item-color-hover:#f3e1bb;
  --nav-item-background-hover:#51452a;

  --tab-background-active:#5a4400;
  --tab-text-color-active:#ffdf97;
  --tab-text-color:#d0c5b4;

  --icon-color:#eae1d4;

  --h1-color:#e6c26c;
  --h2-color: color-mix(in srgb, #e6c26c, #afcfab);
  --h3-color:#afcfab;
  --h4-color: color-mix(in srgb, #e6c26c, #d6c5a0);
  --h5-color:#d6c5a0;
  --h6-color: color-mix(in srgb, #afcfab, #d6c5a0);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#eae1d4;
  background:#17130b;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#eae1d4;
  background:#17130b;
}

.theme-dark .workspace-tab-header-container{
  background:#17130b;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(45.283019791157294/255*360);
	--accent-s:calc(25.098039396107197/255*100%);
	--accent-l:calc(82.81249966371433/255*100%);

  --text-normal:#1f1b13;
  --text-muted:#4d4639;
  --text-faint:#7e7667;

  --background-primary:#fff8f1; /* editor and right ribbon */
  --background-secondary:#e2d9cc; /* left ribbon */ 
  --background-modifier-hover:#f3e1bb;
  --background-modifier-active-hover:#6a5d3f;
  --background-modifier-message:#e2d9cc;
  --background-modifier-form-field:#ffdf97;

  --ribbon-background:#fff8f1;
  --divider-color:#f3e1bb;
  --scrollbar-thumb-bg:#231a04;
  --status-bar-border-color:#f3e1bb;
  --status-bar-background:#fff8f1;
  --titlebar-background:#fff8f1;
  --titlebar-text-color:#1f1b13;

  --nav-item-color:#4d4639;
  --nav-item-color-active:#251a00;
  --nav-item-background-active:#ffdf97;
  --nav-item-color-hover:#231a04;
  --nav-item-background-hover:#f3e1bb;

  --tab-background-active:#ffdf97;
  --tab-text-color-active:#251a00;
  --tab-text-color:#4d4639;

  --icon-color:#1f1b13;

  --h1-color:#755b0b;
  --h2-color: color-mix(in srgb, #755b0b, #496548);
  --h3-color:#496548;
  --h4-color: color-mix(in srgb, #755b0b, #6a5d3f);
  --h5-color:#6a5d3f;
  --h6-color: color-mix(in srgb, #496548, #6a5d3f);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#1f1b13;
  background:#fff8f1;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#1f1b13;
  background:#fff8f1;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f1;
}
