
.theme-dark {
	--accent-h:calc(93.52941176470588/255*360);
	--accent-s:calc(69.01960968971252/255*100%);
	--accent-l:calc(43.037974683544306/255*100%);

  --text-normal:#e1e3d9;
  --text-muted:#c4c8bb;
  --text-faint:#8e9286;

  --background-primary:#11140e; /* editor and right ribbon */
  --background-secondary:#11140e; /* left ribbon */ 
  --background-modifier-hover:#3f4a35;
  --background-modifier-active-hover:#becbaf;
  --background-modifier-message:#11140e;
  --background-modifier-form-field:#304f1a;

  --ribbon-background:#11140e;
  --divider-color:#3f4a35;
  --scrollbar-thumb-bg:#dae7ca;
  --status-bar-border-color:#3f4a35;
  --status-bar-background:#11140e;
  --titlebar-background:#11140e;
  --titlebar-text-color:#e1e3d9;

  --nav-item-color:#c4c8bb;
  --nav-item-color-active:#c8eea8;
  --nav-item-background-active:#304f1a;
  --nav-item-color-hover:#dae7ca;
  --nav-item-background-hover:#3f4a35;

  --tab-background-active:#304f1a;
  --tab-text-color-active:#c8eea8;
  --tab-text-color:#c4c8bb;

  --icon-color:#e1e3d9;

  --h1-color:#acd28e;
  --h2-color: color-mix(in srgb, #acd28e, #a0cfce);
  --h3-color:#a0cfce;
  --h4-color: color-mix(in srgb, #acd28e, #becbaf);
  --h5-color:#becbaf;
  --h6-color: color-mix(in srgb, #a0cfce, #becbaf);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#e1e3d9;
  background:#11140e;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#e1e3d9;
  background:#11140e;
}

.theme-dark .workspace-tab-header-container{
  background:#11140e;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(94.90908849731953/255*360);
	--accent-s:calc(29.60784360766411/255*100%);
	--accent-l:calc(36.42384082629207/255*100%);

  --text-normal:#191d16;
  --text-muted:#44483e;
  --text-faint:#74796d;

  --background-primary:#f9faef; /* editor and right ribbon */
  --background-secondary:#d9dbd1; /* left ribbon */ 
  --background-modifier-hover:#dae7ca;
  --background-modifier-active-hover:#56624b;
  --background-modifier-message:#d9dbd1;
  --background-modifier-form-field:#c8eea8;

  --ribbon-background:#f9faef;
  --divider-color:#dae7ca;
  --scrollbar-thumb-bg:#141e0c;
  --status-bar-border-color:#dae7ca;
  --status-bar-background:#f9faef;
  --titlebar-background:#f9faef;
  --titlebar-text-color:#191d16;

  --nav-item-color:#44483e;
  --nav-item-color-active:#0b2000;
  --nav-item-background-active:#c8eea8;
  --nav-item-color-hover:#141e0c;
  --nav-item-background-hover:#dae7ca;

  --tab-background-active:#c8eea8;
  --tab-text-color-active:#0b2000;
  --tab-text-color:#44483e;

  --icon-color:#191d16;

  --h1-color:#476730;
  --h2-color: color-mix(in srgb, #476730, #386665);
  --h3-color:#386665;
  --h4-color: color-mix(in srgb, #476730, #56624b);
  --h5-color:#56624b;
  --h6-color: color-mix(in srgb, #386665, #56624b);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#191d16;
  background:#f9faef;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#191d16;
  background:#f9faef;
}

.theme-light .workspace-tab-header-container{
  background:#f9faef;
}
