
.theme-dark {
	--accent-h:calc(38.1395361715552/255*360);
	--accent-s:calc(68.03921610116959/255*100%);
	--accent-l:calc(79.14110526698836/255*100%);

  --text-normal:#ece1d4;
  --text-muted:#d2c5b4;
  --text-faint:#9a8f80;

  --background-primary:#17130b; /* editor and right ribbon */
  --background-secondary:#17130b; /* left ribbon */ 
  --background-modifier-hover:#54442a;
  --background-modifier-active-hover:#dac3a1;
  --background-modifier-message:#17130b;
  --background-modifier-form-field:#5f4100;

  --ribbon-background:#17130b;
  --divider-color:#54442a;
  --scrollbar-thumb-bg:#f8dfbb;
  --status-bar-border-color:#54442a;
  --status-bar-background:#17130b;
  --titlebar-background:#17130b;
  --titlebar-text-color:#ece1d4;

  --nav-item-color:#d2c5b4;
  --nav-item-color-active:#ffdeaa;
  --nav-item-background-active:#5f4100;
  --nav-item-color-hover:#f8dfbb;
  --nav-item-background-hover:#54442a;

  --tab-background-active:#5f4100;
  --tab-text-color-active:#ffdeaa;
  --tab-text-color:#d2c5b4;

  --icon-color:#ece1d4;

  --h1-color:#eebf6d;
  --h2-color: color-mix(in srgb, #eebf6d, #b4cea5);
  --h3-color:#b4cea5;
  --h4-color: color-mix(in srgb, #eebf6d, #dac3a1);
  --h5-color:#dac3a1;
  --h6-color: color-mix(in srgb, #b4cea5, #dac3a1);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#ece1d4;
  background:#17130b;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#ece1d4;
  background:#17130b;
}

.theme-dark .workspace-tab-header-container{
  background:#17130b;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(40.90909206316121/255*360);
	--accent-s:calc(26.666666753590107/255*100%);
	--accent-l:calc(80.88235274600962/255*100%);

  --text-normal:#201b13;
  --text-muted:#4e4639;
  --text-faint:#807667;

  --background-primary:#fff8f3; /* editor and right ribbon */
  --background-secondary:#e3d8cc; /* left ribbon */ 
  --background-modifier-hover:#f8dfbb;
  --background-modifier-active-hover:#6d5c3f;
  --background-modifier-message:#e3d8cc;
  --background-modifier-form-field:#ffdeaa;

  --ribbon-background:#fff8f3;
  --divider-color:#f8dfbb;
  --scrollbar-thumb-bg:#251904;
  --status-bar-border-color:#f8dfbb;
  --status-bar-background:#fff8f3;
  --titlebar-background:#fff8f3;
  --titlebar-text-color:#201b13;

  --nav-item-color:#4e4639;
  --nav-item-color-active:#271900;
  --nav-item-background-active:#ffdeaa;
  --nav-item-color-hover:#251904;
  --nav-item-background-hover:#f8dfbb;

  --tab-background-active:#ffdeaa;
  --tab-text-color-active:#271900;
  --tab-text-color:#4e4639;

  --icon-color:#201b13;

  --h1-color:#7b580d;
  --h2-color: color-mix(in srgb, #7b580d, #4d6543);
  --h3-color:#4d6543;
  --h4-color: color-mix(in srgb, #7b580d, #6d5c3f);
  --h5-color:#6d5c3f;
  --h6-color: color-mix(in srgb, #4d6543, #6d5c3f);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#201b13;
  background:#fff8f3;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#201b13;
  background:#fff8f3;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f3;
}
