
.theme-dark {
	--accent-h:calc(8.275862068965518/255*360);
	--accent-s:calc(82.94117748737335/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#f1dfdc;
  --text-muted:#d8c2be;
  --text-faint:#a08c89;

  --background-primary:#1a1110; /* editor and right ribbon */
  --background-secondary:#1a1110; /* left ribbon */ 
  --background-modifier-hover:#5d3f3a;
  --background-modifier-active-hover:#e7bdb6;
  --background-modifier-message:#1a1110;
  --background-modifier-form-field:#73342a;

  --ribbon-background:#1a1110;
  --divider-color:#5d3f3a;
  --scrollbar-thumb-bg:#ffdad4;
  --status-bar-border-color:#5d3f3a;
  --status-bar-background:#1a1110;
  --titlebar-background:#1a1110;
  --titlebar-text-color:#f1dfdc;

  --nav-item-color:#d8c2be;
  --nav-item-color-active:#ffdad4;
  --nav-item-background-active:#73342a;
  --nav-item-color-hover:#ffdad4;
  --nav-item-background-hover:#5d3f3a;

  --tab-background-active:#73342a;
  --tab-text-color-active:#ffdad4;
  --tab-text-color:#d8c2be;

  --icon-color:#f1dfdc;

  --h1-color:#ffb4a8;
  --h2-color: color-mix(in srgb, #ffb4a8, #dec48c);
  --h3-color:#dec48c;
  --h4-color: color-mix(in srgb, #ffb4a8, #e7bdb6);
  --h5-color:#e7bdb6;
  --h6-color: color-mix(in srgb, #dec48c, #e7bdb6);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#f1dfdc;
  background:#1a1110;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#f1dfdc;
  background:#1a1110;
}

.theme-dark .workspace-tab-header-container{
  background:#1a1110;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(8.24999921629208/255*360);
	--accent-s:calc(40.78431576490402/255*100%);
	--accent-l:calc(38.461537899438476/255*100%);

  --text-normal:#231918;
  --text-muted:#534341;
  --text-faint:#857370;

  --background-primary:#fff8f6; /* editor and right ribbon */
  --background-secondary:#e8d6d3; /* left ribbon */ 
  --background-modifier-hover:#ffdad4;
  --background-modifier-active-hover:#775651;
  --background-modifier-message:#e8d6d3;
  --background-modifier-form-field:#ffdad4;

  --ribbon-background:#fff8f6;
  --divider-color:#ffdad4;
  --scrollbar-thumb-bg:#2c1511;
  --status-bar-border-color:#ffdad4;
  --status-bar-background:#fff8f6;
  --titlebar-background:#fff8f6;
  --titlebar-text-color:#231918;

  --nav-item-color:#534341;
  --nav-item-color-active:#3a0905;
  --nav-item-background-active:#ffdad4;
  --nav-item-color-hover:#2c1511;
  --nav-item-background-hover:#ffdad4;

  --tab-background-active:#ffdad4;
  --tab-text-color-active:#3a0905;
  --tab-text-color:#534341;

  --icon-color:#231918;

  --h1-color:#904b40;
  --h2-color: color-mix(in srgb, #904b40, #705c2e);
  --h3-color:#705c2e;
  --h4-color: color-mix(in srgb, #904b40, #775651);
  --h5-color:#775651;
  --h6-color: color-mix(in srgb, #705c2e, #775651);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#231918;
  background:#fff8f6;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#231918;
  background:#fff8f6;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f6;
}
