
.theme-dark {
	--accent-h:calc(184.0/255*360);
	--accent-s:calc(67.84313917160034/255*100%);
	--accent-l:calc(54.87804878048781/255*100%);

  --text-normal:#dde4e4;
  --text-muted:#bec8c9;
  --text-faint:#899393;

  --background-primary:#0e1415; /* editor and right ribbon */
  --background-secondary:#0e1415; /* left ribbon */ 
  --background-modifier-hover:#324b4d;
  --background-modifier-active-hover:#b1cccd;
  --background-modifier-message:#0e1415;
  --background-modifier-form-field:#004f53;

  --ribbon-background:#0e1415;
  --divider-color:#324b4d;
  --scrollbar-thumb-bg:#cce8e9;
  --status-bar-border-color:#324b4d;
  --status-bar-background:#0e1415;
  --titlebar-background:#0e1415;
  --titlebar-text-color:#dde4e4;

  --nav-item-color:#bec8c9;
  --nav-item-color-active:#9cf0f6;
  --nav-item-background-active:#004f53;
  --nav-item-color-hover:#cce8e9;
  --nav-item-background-hover:#324b4d;

  --tab-background-active:#004f53;
  --tab-text-color-active:#9cf0f6;
  --tab-text-color:#bec8c9;

  --icon-color:#dde4e4;

  --h1-color:#80d4da;
  --h2-color: color-mix(in srgb, #80d4da, #b6c7e9);
  --h3-color:#b6c7e9;
  --h4-color: color-mix(in srgb, #80d4da, #b1cccd);
  --h5-color:#b1cccd;
  --h6-color: color-mix(in srgb, #b6c7e9, #b1cccd);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dde4e4;
  background:#0e1415;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dde4e4;
  background:#0e1415;
}

.theme-dark .workspace-tab-header-container{
  background:#0e1415;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(182.72727253885307/255*360);
	--accent-s:calc(21.568627655506134/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#161d1d;
  --text-muted:#3f4949;
  --text-faint:#6f7979;

  --background-primary:#f4fafa; /* editor and right ribbon */
  --background-secondary:#d5dbdb; /* left ribbon */ 
  --background-modifier-hover:#cce8e9;
  --background-modifier-active-hover:#4a6365;
  --background-modifier-message:#d5dbdb;
  --background-modifier-form-field:#9cf0f6;

  --ribbon-background:#f4fafa;
  --divider-color:#cce8e9;
  --scrollbar-thumb-bg:#041f21;
  --status-bar-border-color:#cce8e9;
  --status-bar-background:#f4fafa;
  --titlebar-background:#f4fafa;
  --titlebar-text-color:#161d1d;

  --nav-item-color:#3f4949;
  --nav-item-color-active:#002022;
  --nav-item-background-active:#9cf0f6;
  --nav-item-color-hover:#041f21;
  --nav-item-background-hover:#cce8e9;

  --tab-background-active:#9cf0f6;
  --tab-text-color-active:#002022;
  --tab-text-color:#3f4949;

  --icon-color:#161d1d;

  --h1-color:#00696e;
  --h2-color: color-mix(in srgb, #00696e, #4e5f7d);
  --h3-color:#4e5f7d;
  --h4-color: color-mix(in srgb, #00696e, #4a6365);
  --h5-color:#4a6365;
  --h6-color: color-mix(in srgb, #4e5f7d, #4a6365);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#161d1d;
  background:#f4fafa;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#161d1d;
  background:#f4fafa;
}

.theme-light .workspace-tab-header-container{
  background:#f4fafa;
}
