
.theme-dark {
	--accent-h:calc(199.009900990099/255*360);
	--accent-s:calc(74.31372702121735/255*100%);
	--accent-l:calc(77.09923664122137/255*100%);

  --text-normal:#dfe3e7;
  --text-muted:#c0c8cd;
  --text-faint:#8a9297;

  --background-primary:#0f1417; /* editor and right ribbon */
  --background-secondary:#0f1417; /* left ribbon */ 
  --background-modifier-hover:#354a54;
  --background-modifier-active-hover:#b4cad6;
  --background-modifier-message:#0f1417;
  --background-modifier-form-field:#004d64;

  --ribbon-background:#0f1417;
  --divider-color:#354a54;
  --scrollbar-thumb-bg:#d0e6f2;
  --status-bar-border-color:#354a54;
  --status-bar-background:#0f1417;
  --titlebar-background:#0f1417;
  --titlebar-text-color:#dfe3e7;

  --nav-item-color:#c0c8cd;
  --nav-item-color-active:#bee9ff;
  --nav-item-background-active:#004d64;
  --nav-item-color-hover:#d0e6f2;
  --nav-item-background-hover:#354a54;

  --tab-background-active:#004d64;
  --tab-text-color-active:#bee9ff;
  --tab-text-color:#c0c8cd;

  --icon-color:#dfe3e7;

  --h1-color:#8bd0f0;
  --h2-color: color-mix(in srgb, #8bd0f0, #c6c2ea);
  --h3-color:#c6c2ea;
  --h4-color: color-mix(in srgb, #8bd0f0, #b4cad6);
  --h5-color:#b4cad6;
  --h6-color: color-mix(in srgb, #c6c2ea, #b4cad6);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dfe3e7;
  background:#0f1417;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dfe3e7;
  background:#0f1417;
}

.theme-dark .workspace-tab-header-container{
  background:#0f1417;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(195.13513742963082/255*360);
	--accent-s:calc(29.21568788588047/255*100%);
	--accent-l:calc(74.49664467184141/255*100%);

  --text-normal:#171c1f;
  --text-muted:#40484c;
  --text-faint:#70787d;

  --background-primary:#f6fafe; /* editor and right ribbon */
  --background-secondary:#d6dbde; /* left ribbon */ 
  --background-modifier-hover:#d0e6f2;
  --background-modifier-active-hover:#4d616c;
  --background-modifier-message:#d6dbde;
  --background-modifier-form-field:#bee9ff;

  --ribbon-background:#f6fafe;
  --divider-color:#d0e6f2;
  --scrollbar-thumb-bg:#081e27;
  --status-bar-border-color:#d0e6f2;
  --status-bar-background:#f6fafe;
  --titlebar-background:#f6fafe;
  --titlebar-text-color:#171c1f;

  --nav-item-color:#40484c;
  --nav-item-color-active:#001f2a;
  --nav-item-background-active:#bee9ff;
  --nav-item-color-hover:#081e27;
  --nav-item-background-hover:#d0e6f2;

  --tab-background-active:#bee9ff;
  --tab-text-color-active:#001f2a;
  --tab-text-color:#40484c;

  --icon-color:#171c1f;

  --h1-color:#136682;
  --h2-color: color-mix(in srgb, #136682, #5d5b7d);
  --h3-color:#5d5b7d;
  --h4-color: color-mix(in srgb, #136682, #4d616c);
  --h5-color:#4d616c;
  --h6-color: color-mix(in srgb, #5d5b7d, #4d616c);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#171c1f;
  background:#f6fafe;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#171c1f;
  background:#f6fafe;
}

.theme-light .workspace-tab-header-container{
  background:#f6fafe;
}
