
.theme-dark {
	--accent-h:calc(317.1428571428571/255*360);
	--accent-s:calc(95.88235318660736/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#ffffff;
  --text-muted:#ffffff;
  --text-faint:#ffeaf9;

  --background-primary:#191118; /* editor and right ribbon */
  --background-secondary:#191118; /* left ribbon */ 
  --background-modifier-hover:#ecafe6;
  --background-modifier-active-hover:#ffeaf9;
  --background-modifier-message:#191118;
  --background-modifier-form-field:#ffa2fb;

  --ribbon-background:#191118;
  --divider-color:#ecafe6;
  --scrollbar-thumb-bg:#000000;
  --status-bar-border-color:#ecafe6;
  --status-bar-background:#191118;
  --titlebar-background:#191118;
  --titlebar-text-color:#ffffff;

  --nav-item-color:#ffffff;
  --nav-item-color-active:#000000;
  --nav-item-background-active:#ffa2fb;
  --nav-item-color-hover:#000000;
  --nav-item-background-hover:#ecafe6;

  --tab-background-active:#ffa2fb;
  --tab-text-color-active:#000000;
  --tab-text-color:#ffffff;

  --icon-color:#ffffff;

  --h1-color:#ffeaf9;
  --h2-color: color-mix(in srgb, #ffeaf9, #ffebed);
  --h3-color:#ffebed;
  --h4-color: color-mix(in srgb, #ffeaf9, #ffeaf9);
  --h5-color:#ffeaf9;
  --h6-color: color-mix(in srgb, #ffebed, #ffeaf9);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#ffffff;
  background:#191118;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#ffffff;
  background:#191118;
}

.theme-dark .workspace-tab-header-container{
  background:#191118;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(296.5909093853148/255*360);
	--accent-s:calc(17.25490242242813/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#000000;
  --text-muted:#000000;
  --text-faint:#352834;

  --background-primary:#fff7fa; /* editor and right ribbon */
  --background-secondary:#c3b5be; /* left ribbon */ 
  --background-modifier-hover:#683767;
  --background-modifier-active-hover:#471a47;
  --background-modifier-message:#c3b5be;
  --background-modifier-form-field:#810c88;

  --ribbon-background:#fff7fa;
  --divider-color:#683767;
  --scrollbar-thumb-bg:#ffffff;
  --status-bar-border-color:#683767;
  --status-bar-background:#fff7fa;
  --titlebar-background:#fff7fa;
  --titlebar-text-color:#000000;

  --nav-item-color:#000000;
  --nav-item-color-active:#ffffff;
  --nav-item-background-active:#810c88;
  --nav-item-color-hover:#ffffff;
  --nav-item-background-hover:#683767;

  --tab-background-active:#810c88;
  --tab-text-color-active:#ffffff;
  --tab-text-color:#000000;

  --icon-color:#000000;

  --h1-color:#530058;
  --h2-color: color-mix(in srgb, #530058, #5f0021);
  --h3-color:#5f0021;
  --h4-color: color-mix(in srgb, #530058, #471a47);
  --h5-color:#471a47;
  --h6-color: color-mix(in srgb, #5f0021, #471a47);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#000000;
  background:#fff7fa;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#000000;
  background:#fff7fa;
}

.theme-light .workspace-tab-header-container{
  background:#fff7fa;
}
