
.theme-dark {
	--accent-h:calc(48.000000829046414/255*360);
	--accent-s:calc(64.7058829665184/255*100%);
	--accent-l:calc(61.111112752998345/255*100%);

  --text-normal:#e9e2d4;
  --text-muted:#cdc6b4;
  --text-faint:#969080;

  --background-primary:#16130b; /* editor and right ribbon */
  --background-secondary:#16130b; /* left ribbon */ 
  --background-modifier-hover:#4e472a;
  --background-modifier-active-hover:#d2c6a1;
  --background-modifier-message:#16130b;
  --background-modifier-form-field:#544600;

  --ribbon-background:#16130b;
  --divider-color:#4e472a;
  --scrollbar-thumb-bg:#eee2bc;
  --status-bar-border-color:#4e472a;
  --status-bar-background:#16130b;
  --titlebar-background:#16130b;
  --titlebar-text-color:#e9e2d4;

  --nav-item-color:#cdc6b4;
  --nav-item-color-active:#f9e287;
  --nav-item-background-active:#544600;
  --nav-item-color-hover:#eee2bc;
  --nav-item-background-hover:#4e472a;

  --tab-background-active:#544600;
  --tab-text-color-active:#f9e287;
  --tab-text-color:#cdc6b4;

  --icon-color:#e9e2d4;

  --h1-color:#dcc66e;
  --h2-color: color-mix(in srgb, #dcc66e, #aad0b2);
  --h3-color:#aad0b2;
  --h4-color: color-mix(in srgb, #dcc66e, #d2c6a1);
  --h5-color:#d2c6a1;
  --h6-color: color-mix(in srgb, #aad0b2, #d2c6a1);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#e9e2d4;
  background:#16130b;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#e9e2d4;
  background:#16130b;
}

.theme-dark .workspace-tab-header-container{
  background:#16130b;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(49.375000735963106/255*360);
	--accent-s:calc(24.31372571736574/255*100%);
	--accent-l:calc(77.4193548634222/255*100%);

  --text-normal:#1e1b13;
  --text-muted:#4b4739;
  --text-faint:#7c7767;

  --background-primary:#fff9ee; /* editor and right ribbon */
  --background-secondary:#e0d9cc; /* left ribbon */ 
  --background-modifier-hover:#eee2bc;
  --background-modifier-active-hover:#665e40;
  --background-modifier-message:#e0d9cc;
  --background-modifier-form-field:#f9e287;

  --ribbon-background:#fff9ee;
  --divider-color:#eee2bc;
  --scrollbar-thumb-bg:#211b04;
  --status-bar-border-color:#eee2bc;
  --status-bar-background:#fff9ee;
  --titlebar-background:#fff9ee;
  --titlebar-text-color:#1e1b13;

  --nav-item-color:#4b4739;
  --nav-item-color-active:#221b00;
  --nav-item-background-active:#f9e287;
  --nav-item-color-hover:#211b04;
  --nav-item-background-hover:#eee2bc;

  --tab-background-active:#f9e287;
  --tab-text-color-active:#221b00;
  --tab-text-color:#4b4739;

  --icon-color:#1e1b13;

  --h1-color:#6e5d0e;
  --h2-color: color-mix(in srgb, #6e5d0e, #43664e);
  --h3-color:#43664e;
  --h4-color: color-mix(in srgb, #6e5d0e, #665e40);
  --h5-color:#665e40;
  --h6-color: color-mix(in srgb, #43664e, #665e40);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#1e1b13;
  background:#fff9ee;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#1e1b13;
  background:#fff9ee;
}

.theme-light .workspace-tab-header-container{
  background:#fff9ee;
}
