
.theme-dark {
	--accent-h:calc(175.0/255*360);
	--accent-s:calc(67.05882549285889/255*100%);
	--accent-l:calc(50.0/255*100%);

  --text-normal:#dde4e2;
  --text-muted:#bec9c7;
  --text-faint:#889391;

  --background-primary:#0e1514; /* editor and right ribbon */
  --background-secondary:#0e1514; /* left ribbon */ 
  --background-modifier-hover:#324b49;
  --background-modifier-active-hover:#b0ccc9;
  --background-modifier-message:#0e1514;
  --background-modifier-form-field:#00504c;

  --ribbon-background:#0e1514;
  --divider-color:#324b49;
  --scrollbar-thumb-bg:#cce8e5;
  --status-bar-border-color:#324b49;
  --status-bar-background:#0e1514;
  --titlebar-background:#0e1514;
  --titlebar-text-color:#dde4e2;

  --nav-item-color:#bec9c7;
  --nav-item-color-active:#9df2ea;
  --nav-item-background-active:#00504c;
  --nav-item-color-hover:#cce8e5;
  --nav-item-background-hover:#324b49;

  --tab-background-active:#00504c;
  --tab-text-color-active:#9df2ea;
  --tab-text-color:#bec9c7;

  --icon-color:#dde4e2;

  --h1-color:#81d5ce;
  --h2-color: color-mix(in srgb, #81d5ce, #b0c9e7);
  --h3-color:#b0c9e7;
  --h4-color: color-mix(in srgb, #81d5ce, #b0ccc9);
  --h5-color:#b0ccc9;
  --h6-color: color-mix(in srgb, #b0c9e7, #b0ccc9);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dde4e2;
  background:#0e1514;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dde4e2;
  background:#0e1514;
}

.theme-dark .workspace-tab-header-container{
  background:#0e1514;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(177.16981152366301/255*360);
	--accent-s:calc(20.78431397676468/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#161d1c;
  --text-muted:#3f4947;
  --text-faint:#6f7978;

  --background-primary:#f4fbf9; /* editor and right ribbon */
  --background-secondary:#d5dbda; /* left ribbon */ 
  --background-modifier-hover:#cce8e5;
  --background-modifier-active-hover:#4a6361;
  --background-modifier-message:#d5dbda;
  --background-modifier-form-field:#9df2ea;

  --ribbon-background:#f4fbf9;
  --divider-color:#cce8e5;
  --scrollbar-thumb-bg:#051f1e;
  --status-bar-border-color:#cce8e5;
  --status-bar-background:#f4fbf9;
  --titlebar-background:#f4fbf9;
  --titlebar-text-color:#161d1c;

  --nav-item-color:#3f4947;
  --nav-item-color-active:#00201e;
  --nav-item-background-active:#9df2ea;
  --nav-item-color-hover:#051f1e;
  --nav-item-background-hover:#cce8e5;

  --tab-background-active:#9df2ea;
  --tab-text-color-active:#00201e;
  --tab-text-color:#3f4947;

  --icon-color:#161d1c;

  --h1-color:#006a65;
  --h2-color: color-mix(in srgb, #006a65, #48607b);
  --h3-color:#48607b;
  --h4-color: color-mix(in srgb, #006a65, #4a6361);
  --h5-color:#4a6361;
  --h6-color: color-mix(in srgb, #48607b, #4a6361);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#161d1c;
  background:#f4fbf9;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#161d1c;
  background:#f4fbf9;
}

.theme-light .workspace-tab-header-container{
  background:#f4fbf9;
}
