
.theme-dark {
	--accent-h:calc(344.61538461538464/255*360);
	--accent-s:calc(84.70588326454163/255*100%);
	--accent-l:calc(100.0/255*100%);

  --text-normal:#efdfe1;
  --text-muted:#d6c2c5;
  --text-faint:#9e8c8f;

  --background-primary:#191113; /* editor and right ribbon */
  --background-secondary:#191113; /* left ribbon */ 
  --background-modifier-hover:#5b3f46;
  --background-modifier-active-hover:#e3bdc5;
  --background-modifier-message:#191113;
  --background-modifier-form-field:#703346;

  --ribbon-background:#191113;
  --divider-color:#5b3f46;
  --scrollbar-thumb-bg:#ffd9e1;
  --status-bar-border-color:#5b3f46;
  --status-bar-background:#191113;
  --titlebar-background:#191113;
  --titlebar-text-color:#efdfe1;

  --nav-item-color:#d6c2c5;
  --nav-item-color-active:#ffd9e1;
  --nav-item-background-active:#703346;
  --nav-item-color-hover:#ffd9e1;
  --nav-item-background-hover:#5b3f46;

  --tab-background-active:#703346;
  --tab-text-color-active:#ffd9e1;
  --tab-text-color:#d6c2c5;

  --icon-color:#efdfe1;

  --h1-color:#ffb1c5;
  --h2-color: color-mix(in srgb, #ffb1c5, #eebd92);
  --h3-color:#eebd92;
  --h4-color: color-mix(in srgb, #ffb1c5, #e3bdc5);
  --h5-color:#e3bdc5;
  --h6-color: color-mix(in srgb, #eebd92, #e3bdc5);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#efdfe1;
  background:#191113;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#efdfe1;
  background:#191113;
}

.theme-dark .workspace-tab-header-container{
  background:#191113;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(342.7272747161466/255*360);
	--accent-s:calc(41.960786283016205/255*100%);
	--accent-l:calc(30.841121760838213/255*100%);

  --text-normal:#22191b;
  --text-muted:#514346;
  --text-faint:#847376;

  --background-primary:#fff8f8; /* editor and right ribbon */
  --background-secondary:#e6d6d8; /* left ribbon */ 
  --background-modifier-hover:#ffd9e1;
  --background-modifier-active-hover:#75565d;
  --background-modifier-message:#e6d6d8;
  --background-modifier-form-field:#ffd9e1;

  --ribbon-background:#fff8f8;
  --divider-color:#ffd9e1;
  --scrollbar-thumb-bg:#2b151b;
  --status-bar-border-color:#ffd9e1;
  --status-bar-background:#fff8f8;
  --titlebar-background:#fff8f8;
  --titlebar-text-color:#22191b;

  --nav-item-color:#514346;
  --nav-item-color-active:#3a071b;
  --nav-item-background-active:#ffd9e1;
  --nav-item-color-hover:#2b151b;
  --nav-item-background-hover:#ffd9e1;

  --tab-background-active:#ffd9e1;
  --tab-text-color-active:#3a071b;
  --tab-text-color:#514346;

  --icon-color:#22191b;

  --h1-color:#8c4a5d;
  --h2-color: color-mix(in srgb, #8c4a5d, #7b5734);
  --h3-color:#7b5734;
  --h4-color: color-mix(in srgb, #8c4a5d, #75565d);
  --h5-color:#75565d;
  --h6-color: color-mix(in srgb, #7b5734, #75565d);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#22191b;
  background:#fff8f8;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#22191b;
  background:#fff8f8;
}

.theme-light .workspace-tab-header-container{
  background:#fff8f8;
}
