
.theme-dark {
	--accent-h:calc(159.23076923076923/255*360);
	--accent-s:calc(68.6274528503418/255*100%);
	--accent-l:calc(48.75/255*100%);

  --text-normal:#dee4df;
  --text-muted:#bfc9c3;
  --text-faint:#89938e;

  --background-primary:#0f1512; /* editor and right ribbon */
  --background-secondary:#0f1512; /* left ribbon */ 
  --background-modifier-hover:#344c43;
  --background-modifier-active-hover:#b2ccc1;
  --background-modifier-message:#0f1512;
  --background-modifier-form-field:#00513f;

  --ribbon-background:#0f1512;
  --divider-color:#344c43;
  --scrollbar-thumb-bg:#cee9dd;
  --status-bar-border-color:#344c43;
  --status-bar-background:#0f1512;
  --titlebar-background:#0f1512;
  --titlebar-text-color:#dee4df;

  --nav-item-color:#bfc9c3;
  --nav-item-color-active:#a3f2d7;
  --nav-item-background-active:#00513f;
  --nav-item-color-hover:#cee9dd;
  --nav-item-background-hover:#344c43;

  --tab-background-active:#00513f;
  --tab-text-color-active:#a3f2d7;
  --tab-text-color:#bfc9c3;

  --icon-color:#dee4df;

  --h1-color:#88d6bb;
  --h2-color: color-mix(in srgb, #88d6bb, #a8cbe2);
  --h3-color:#a8cbe2;
  --h4-color: color-mix(in srgb, #88d6bb, #b2ccc1);
  --h5-color:#b2ccc1;
  --h6-color: color-mix(in srgb, #a8cbe2, #b2ccc1);


  }


/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:#dee4df;
  background:#0f1512;
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:#dee4df;
  background:#0f1512;
}

.theme-dark .workspace-tab-header-container{
  background:#0f1512;
}


/* copy for light mode */
.theme-light {
	--accent-h:calc(165.00000097153878/255*360);
	--accent-s:calc(24.705882743000984/255*100%);
	--accent-l:calc(69.84126909930917/255*100%);

  --text-normal:#171d1a;
  --text-muted:#3f4945;
  --text-faint:#6f7974;

  --background-primary:#f5fbf6; /* editor and right ribbon */
  --background-secondary:#d5dbd7; /* left ribbon */ 
  --background-modifier-hover:#cee9dd;
  --background-modifier-active-hover:#4b635a;
  --background-modifier-message:#d5dbd7;
  --background-modifier-form-field:#a3f2d7;

  --ribbon-background:#f5fbf6;
  --divider-color:#cee9dd;
  --scrollbar-thumb-bg:#072019;
  --status-bar-border-color:#cee9dd;
  --status-bar-background:#f5fbf6;
  --titlebar-background:#f5fbf6;
  --titlebar-text-color:#171d1a;

  --nav-item-color:#3f4945;
  --nav-item-color-active:#002118;
  --nav-item-background-active:#a3f2d7;
  --nav-item-color-hover:#072019;
  --nav-item-background-hover:#cee9dd;

  --tab-background-active:#a3f2d7;
  --tab-text-color-active:#002118;
  --tab-text-color:#3f4945;

  --icon-color:#171d1a;

  --h1-color:#136b55;
  --h2-color: color-mix(in srgb, #136b55, #406376);
  --h3-color:#406376;
  --h4-color: color-mix(in srgb, #136b55, #4b635a);
  --h5-color:#4b635a;
  --h6-color: color-mix(in srgb, #406376, #4b635a);


  }


/* add parts not accessible without specific selector?*/
.theme-light .sidebar-toggle-button.mod-left {
  color:#171d1a;
  background:#f5fbf6;
}
.theme-light .sidebar-toggle-button.mod-right {
  color:#171d1a;
  background:#f5fbf6;
}

.theme-light .workspace-tab-header-container{
  background:#f5fbf6;
}
